<h1 class="animate__animated animate__fadeInDown" *ngIf="mode == 'list'">Minhas tarefas</h1>
<ul class="animate__animated animate__fadeIn" *ngIf="mode == 'list'">
  <p class="text-center" *ngIf="todos.length == 0"><small>Você ainda não tem nenhuma tarefa hoje!</small></p>
  <!-- ngFor é o for do javascript, aqui ele ta percorrendo todos os elementos do todos -->
  <li *ngFor="let todo of todos"> {{todo.title}} 
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="fa-regular fa-circle-check"></i></button> 
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fa-solid fa-circle-check"></i></button> 
    <!-- esse é o bind do HTML > TS sempre com parenteses -->
    <button (click)="remove(todo)"><i class="fa-solid fa-trash"></i></button> 
  </li>
</ul>
<div id="modal" *ngIf="mode=='add'" class="animate__animated animate__fadeIn">
  <h1 class="text-center">Nova Tarefa</h1>
  <!-- bind do TS > HTML -->
  <form [formGroup]="form">
      <input type="text" placeholder="Título da tarefa" maxlength="60" formControlName="title">
      <!-- Alteração de propriedades sempre com colchetes| pristine significa se foi modificado-->
      <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">
      Este campo deve conter entre 3 e 60 caracteres <br>
      </small>    
      <p class="text-center">
        <button class="button" [disabled]="form.invalid" (click)="add()"><i class="far fa-bookmark"></i> Salvar</button>
      </p>
  </form>
  <br>
</div>

<div class="butao">
  <button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
    <i class="fa fa-pen"></i>
       NOVA TAREFA
  </button>
  <button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
    <i class="fas fa-xmark"></i>
    CANCELAR
  </button>
</div>